/* Color styles
Darkest blue #072AC8
Mid blue #43D2FF
Light blue #A2D6F9
Lightest blue #D1EDFF
Background body #F2F4FC
Dark grey #292E47
Mid grey #6B708D
Background icons #ECF7FF
Yellow #FFC600
*/
@import url();
@media (min-width: 1024px){

    body {
        background-color: #F2F4FC;
        font-family: Arial, sans-serif;
        margin-right: auto;
        margin-left: auto;
    }
    
    h1 {
        margin-top: 10px;
        font-size: 60px;
        font-weight: bold;
        color: #292E47;
        line-height: 130%;
    }
    
    h2 {
        font-size: 50px;
        font-weight: bold;
    }
    
    h3 {
        font-size: 40px;
        font-weight: bold;
        color: #292E47;
    }
    
    h4 {
        font-size: 24px;
        font-weight: bold;
    }
    
    .body-medium {
        font-size: 24px;
        font-weight: 500;
    }
    
    .body-regular {
        font-size: 20px;
        color: #6B708D;
        line-height: 150%;
    }
    
    .headline-medium {
        font-size: 17px;
        font-weight: 500;
        color: #6B708D;
    }
    
    .headline-regular {
        font-size: 17px;
    }
    
    .caption1 {
        font-size: 15px;
    }
    
    .caption2 {
        font-size: 13px;
    }
    
    nav {
        margin-top: 70px;
        max-width: 1100px; 
        margin-left: auto; 
        margin-right: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .menu {
        display: flex;
        flex-direction: row;
        list-style: none;
    }
    
    nav ul a {
        padding: 0 30px;
    }
    
    nav ul a:hover {
        color: #072AC8;
        cursor: pointer;
    }
    
    .contact-button {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        background-color: #072AC8;
        color: white;
        border: none;
        height: 52px;
        width: 150px;
    }

    .button {
        background-color: #072AC8;
        color: white;
        font-size: 17px;
        border: none;
        height: 80px;
        width: 198px;
        margin-left: 20px;
    }

    .getInTouch {
        display: flex;
    }

    header {
        margin-top: 100px;
        max-width: 1100px; 
        margin-left: auto; 
        margin-right: auto;
    }

    .header-img {
        position: relative;
    }

    .header-content {
        display: flex;
    }

    .card1 {
        width: 300px;
        display: inline-block;
        position: absolute;
        left: -30%;
        top: 0%;
    }

    .hero-img {
        width: 100%;
        display: inline-block;
    }

    .card2 {
        width: 300px;
        display: inline-block;
        position: absolute;
        right: -30%;
        bottom: -20%;
    }

    .logos {
        margin-top: 130px;
        max-width: 1100px; 
        margin-left: auto; 
        margin-right: auto;
        display: flex;
        justify-content: space-between;
    }

    .card {
        display: flex;
        flex-direction: column;
        background-color: white;
        width: 340px;
    }

    .project {
        margin-top: 200px;
        max-width: 1100px; 
        margin-left: auto; 
        margin-right: auto;
    }

    .projects {
        display: flex;
        justify-content: space-between;
    }

    .section.testimonial {
        position: relative;
        height: 622px;
        margin-top: 200px;
        background-color: #292e47;
        background-image: url(./assets/testimonial-section/orbit.png);
        background-position: center;
        background-size:cover;
        color: #292e47;
    }

    .container.testimonial {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .testimonial-text {
        max-width: 560px;
        margin-right: auto;
        margin-left: auto;
        color: #ffc600;
        text-align: center;
        line-height: 160%;
        font-weight: 500;
    }

    .client {
        display: flex;
        align-items:center;
        justify-content: center;
    }

    .client-img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-image: url(./assets/testimonial-section/profile.png);
        background-position: 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .client-inf {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 10px;
    }

    .kristin {
        color: #a2d6f9;
        font-size: 17px;
    }

    .booking {
        color: #ecf7ff;
        font-size: 13px;
    }

    .emoji {
        width: 150px;
        height: 150px;
    }

    .emoji.TL {
        position: absolute;
        left: 0%;
        top: 0%;
        right: auto;
        bottom: auto;
        margin-top: 5%;
        margin-left: 5%;
        background-image: url(./assets/testimonial-section/memoji-1.png);
        background-position: 50% 50%;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .emoji.TR {
        position: absolute;
        left: auto;
        top: 0%;
        right: 0%;
        bottom: auto;
        margin-top: 5%;
        margin-right: 5%;
        background-image: url(./assets/testimonial-section/memoji-2.png);
        background-position: 50% 50%;
        background-size: contain;
    }

    .emoji.BL {
        position: absolute;
        left: 0%;
        top: auto;
        right: auto;
        bottom: 0%;
        margin-bottom: 5%;
        margin-left: 5%;
        padding-left: 0%;
        background-image: url(./assets/testimonial-section/memoji-3.png);
        background-position: 50% 50%;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .emoji.BR {
        position: absolute;
        left: auto;
        top: auto;
        right: 0%;
        bottom: 0%;
        margin-right: 5%;
        margin-bottom: 5%;
        background-image: url(./assets/testimonial-section/memoji-4.png);
        background-position: 50% 50%;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .services {
        margin-top: 200px;
        max-width: 1100px; 
        margin-left: auto; 
        margin-right: auto;
    }

    .our-services{
        display: flex;
        justify-content: space-between;
    }

    .card-service {
        width: 340px;
        display: flex;
        flex-direction: column;
        background-color: white;
    }

    .service-img1 {
        width: 80px;
        height: 80px;
        margin-top: 40px;
        margin-left: 40px;
        border-radius: 50%;
        background-color: #ecf7ff;
        background-image: url(./assets/services-section/icons/1.svg);
        background-position: 50% 50%;
        background-size: auto;
        background-repeat: no-repeat;
    }

    .service-img2 {
        width: 80px;
        height: 80px;
        margin-top: 40px;
        margin-left: 40px;
        border-radius: 50%;
        background-color: #ecf7ff;
        background-image: url(./assets/services-section/icons/2.svg);
        background-position: 50% 50%;
        background-size: auto;
        background-repeat: no-repeat;
    }

    .service-img3 {
        width: 80px;
        height: 80px;
        margin-top: 40px;
        margin-left: 40px;
        border-radius: 50%;
        background-color: #ecf7ff;
        background-image: url(./assets/services-section/icons/3.svg);
        background-position: 50% 50%;
        background-size: auto;
        background-repeat: no-repeat;
    }

    .any-questions {
        margin-top: 200px;
        width: 1320px;
        height: 500px;
        max-width: 100%;
        margin-right: auto;
        margin-left: auto;
        background-color: #ffc600;
    }

    .container.any-questions {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .email-form {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .email-box {
        position: relative;
    }

    .email-icon {
        position: absolute;
        left: 8%;
        top: 27%;
        right: auto;
        bottom: auto;
        width: 30px;
        height: 30px;
        background-image: url(./assets/newsletter/icon/mail.svg);
        background-position: 50% 50%;
        background-size: auto;
        background-repeat: no-repeat;
    }

    .white-box {
        width: 393px;
        height: 80px;
        margin-bottom: 0px;
        padding-left: 70px;
        background-color: #ecf7ff;
        color: #292e47;
    }

    .white-box.input {
        padding: 8px 12px;
        font-size: 14px;
        border: solid 1px #cccccc;
    }

    footer {
        max-width: 1100px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 200px;
        padding-bottom: 100px;
    }

    .footer {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
    }

    .footer-logo {
        max-width: 260px;
    }

    .footer-links {
        display: grid;
        grid-auto-columns: 1fr;
        grid-column-gap: 16px;
        grid-row-gap: 16px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
    }

    footer div a {
        text-decoration: none;
        color: #6B708D;
    }
}


@media (max-width: 1024px) {

    body {
        margin: 30px;
        background-color: #F2F4FC;
        font-family: Arial, sans-serif;
    }
    
    h1 {
        font-size: 60px;
        font-weight: bold;
        color: #292E47;
    }
    
    h2 {
        font-size: 50px;
        font-weight: bold;
    }
    
    h3 {
        font-size: 40px;
        font-weight: bold;
        color: #292E47;
    }
    
    h4 {
        font-size: 24px;
        font-weight: bold;
    }
    
    .body-medium {
        font-size: 24px;
        font-weight: 500;
    }
    
    .body-regular {
        font-size: 20px;
        color: #6B708D;
    }
    
    .headline-medium {
        font-size: 17px;
        font-weight: 500;
        color: #6B708D;
    }
    
    .headline-regular {
        font-size: 17px;
    }
    
    .caption1 {
        font-size: 15px;
    }
    
    .caption2 {
        font-size: 13px;
    }

    header {
        margin: 0 100px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    button {
        background-color: #072AC8;
        color: white;
        border: none;
        height: 52px;
        width: 150px;
    }

    .getInTouch {
        display: flex;
        justify-content: center;
    }
}
