/* Color styles
Darkest blue #072AC8
Mid blue #43D2FF
Light blue #A2D6F9
Lightest blue #D1EDFF
Background body #F2F4FC
Dark grey #292E47
Mid grey #6B708D
Background icons #ECF7FF
Yellow #FFC600
*/
@import url();
@media (min-width: 1024px){

    body {
        margin: 70px 170px 0 170px;
        background-color: #F2F4FC;
        font-family: Arial, sans-serif;
    }
    
    h1 {
        font-size: 60px;
        font-weight: bold;
        color: #292E47;
    }
    
    h2 {
        font-size: 50px;
        font-weight: bold;
    }
    
    h3 {
        font-size: 40px;
        font-weight: bold;
        color: #292E47;
    }
    
    h4 {
        font-size: 24px;
        font-weight: bold;
    }
    
    .body-medium {
        font-size: 24px;
        font-weight: 500;
    }
    
    .body-regular {
        font-size: 20px;
        color: #6B708D;
    }
    
    .headline-medium {
        font-size: 17px;
        font-weight: 500;
        color: #6B708D;
    }
    
    .headline-regular {
        font-size: 17px;
    }
    
    .caption1 {
        font-size: 15px;
    }
    
    .caption2 {
        font-size: 13px;
    }
    
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .menu {
        display: flex;
        flex-direction: row;
        list-style: none;
    }
    
    nav ul a {
        padding: 0 30px;
    }
    
    nav ul a:hover {
        color: #072AC8;
        cursor: pointer;
    }
    
    button {
        background-color: #072AC8;
        color: white;
        border: none;
        height: 52px;
        width: 150px;
    }
    .getInTouch {
        display: flex;
    }



    .logos {
        display: flex;
        justify-content: space-between;
    }
}


@media (max-width: 1024px) {

    body {
        margin: 30px;
        background-color: #F2F4FC;
        font-family: Arial, sans-serif;
    }
    
    h1 {
        font-size: 60px;
        font-weight: bold;
        color: #292E47;
    }
    
    h2 {
        font-size: 50px;
        font-weight: bold;
    }
    
    h3 {
        font-size: 40px;
        font-weight: bold;
        color: #292E47;
    }
    
    h4 {
        font-size: 24px;
        font-weight: bold;
    }
    
    .body-medium {
        font-size: 24px;
        font-weight: 500;
    }
    
    .body-regular {
        font-size: 20px;
        color: #6B708D;
    }
    
    .headline-medium {
        font-size: 17px;
        font-weight: 500;
        color: #6B708D;
    }
    
    .headline-regular {
        font-size: 17px;
    }
    
    .caption1 {
        font-size: 15px;
    }
    
    .caption2 {
        font-size: 13px;
    }

    header {
        margin: 0 100px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    button {
        background-color: #072AC8;
        color: white;
        border: none;
        height: 52px;
        width: 150px;
    }

    .getInTouch {
        display: flex;
        justify-content: center;
    }
}
